form.load_file {
    margin-left: auto;
    margin-right: auto;
    max-width: 450px;
    background-color: #FFFFFF;
    border: 2px solid gray;
    border-radius: 5px;
    padding: 10px;
}

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 80%;
  height: 5px;
  background: #d3d3d3;
  opacity: 1;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 5px;
  height: 21px;
  background: #4d4d4d;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04AA6D; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.center {
    text-align: center;
    align: center;
}

.bold {
    font-size: 20px;
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.oblique {
    font-style: oblique;
}

.line {
    text-decoration: underline;
    text-decoration-style: solid;
}

gray {
    color: SlateGrey;
    padding-left: 20px;
}

.special {
    color: lightgrey;
}

.left {
    float: left;
}
.right {
    text-align: right;
}

th {
    font-weight: normal;
}

.container {
    overflow: hidden;
}