{% extends "base.html" %}

{% block content %}
<main role="main" class="container">
<div class="center">
    <br>
    <h4>{{ message }}</h4>
    <br>
    {% if current_user.is_authenticated %}
    <a type="button" class="btn btn-primary" href="/logout">Войти из другого аккаунта</a>
    <br>
    <a type="button" class="btn btn-secondary" href="/passings">На главную страницу</a>
    {% else %}
    <a type="button" class="btn btn-primary" href="/login">Войти</a>
    {% endif %}
</div>
</main>
{% endblock %}