{% extends "base.html" %}

{% block content %}
<div class="left" style="margin-left: 10%; display: inline-block;">
<a type="button" class="btn btn-primary" href="/passings"><-- К концовкам</a>
</div>
<br><br>
<main role="main" class="container" style="align: center;">
    <form action="" method="post">
    {{ form.hidden_tag() }}
    <a class="center">
    <h4>{{ ending.text }}</h4>
    {% for i in range(3) %}<br>{% endfor %}
        <p class="center"><img src="{{ url_for('static', filename=ending.path_to_picture) }}"></p>
    </a>
        <br>
        <hr style="border: 1px solid gray;">
        <div>Ваш комментарий:</div>
        <p>{{ form.comment(class="form-control", type="textarea") }}</p>
        {% for error in form.comment.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
        <p>Ваша оценка: </p>
        <a style="margin-left: 10%;">
        {% for i in range(11) %}
        <p style="width: 7.5%; display: inline-block;">{{ loop.index - 1 }}</p>
        {% endfor %}
        </a>
        <p style="text-align: center;">{{ form.slider(class="slider", type="range") }}</p>
        <br>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        <hr style="border: 1px solid gray;">
        {% for review in reviews %}
    <br>
    <div class="col-md6 border rounded">
        <div style="color: gray;">Написано под концовкой "{{ review.ending.name }}"<span style="float: right;">{{ review.mark }}/10</span></div>
        <div style="display: inline-block;">
            <a>От </a><a style="font-weight: bold;">{{review.user.name}}</a><a>:</a>
        </div>
        <div class="width">{{ review.text }}</div>
    </div>
    {% endfor %}
    <br>
    </form>
</main>
{% endblock %}